/*  
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Red Rose', cursive; 
*/
.options { display: none; }
body{
    padding:0; margin: 0;
    min-height: 600px;
    background-color: rgba(231, 255, 231, 0.89);
    background-size: cover;
}
pre.ordinary{ font-family: Arial, Helvetica, sans-serif; font-size: 16px;}
#pageHeader{
    height: 200px;
    background: linear-gradient(rgba(0, 100, 0, 0.5),rgba(255, 255, 255, 0.1)), url('../img/palm-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
#indexTopNav > div.col-md-6{
    padding: 15px 15px 1px 15px;
    background-color: rgb(202, 255, 202);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
#pageHeader h1 {
    color:rgb(243, 214, 136);
    font-family: 'Berkshire Swash', cursive;
    letter-spacing: 2px;
    font-size: 48px;
    font-weight: bold;
    margin-top: 70px;
    text-shadow: 0px 0px 3px black;
}

.pageTitle{
    background-color: darkgreen; color: lightgoldenrodyellow;
    margin-bottom: 15px;
}

.pageSubTitle{
    font-family: 'Red Rose', cursive; 
    border-bottom: 2px solid brown;
    margin: 20px 0px 15px 0px;
}

.comNav { font-size: 36px; margin-top: 24px; color: lightgoldenrodyellow; }
.comNav:hover{ color: orange;}

@media only screen and (max-width: 720px){
    #pageHeader h1 {
        font-size: 32px;
     }
}